body {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0px;
  padding-top: 5rem;
  background-image: linear-gradient(to right top, #ff99cc, #e3a6ec, #bbb4ff, #8ec2ff, #66ccff);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

h4 , h5, h6, span {
  margin: 0;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16rem;
}

@media screen and (max-width: 678px) {
  h4 {
    font-size: 10rem;
  }
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}



.degree {
  font-size: 6rem;
  font-weight: 600;
}
.boxcontainer {
  max-width: 550px;
  max-height: 100vh;
  min-height: 600px;
  border: 5px solid white;
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 20% 80%;
  padding: 25px 5px;
}
.degrees {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-left: 2rem;
}

.smallboxcontainer {
  width: 300px;
  height: 50vh;
  border: 5px solid white;
  border-radius: 25px;
  margin: 0 auto;
  padding: 25px 25px;
}

.whiteboxcontainer {
  max-width: 80%;
  height: auto;
  background-color: white;
  text-align: left;
  padding: 8px 8px;
  padding-bottom: 8px;
  font-size: 1em;
  color: #374955;
  margin: auto;
  box-shadow: 5px 5px 10px #374955;
}

.accountcontainer {
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  float: center;
}

.googlecontainer {
  width: 100%;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  float: center;
}

.socialcontainer {
  width: 100%;
  text-align: center;
  padding: 30px 50px;
  align-items: flex-end;
  float: bottom;
}

.fa:visited {
  color: #ffffff;
}

.fa:hover {
  opacity: 0.7;
  color: ##ffffff;
}

.fa:active {
  color: #ffffff;
}

.fa-facebook {
  background-color: #3B5998;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}
.fa-twitter {
  background: #55ACEE;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.fa-instagram {
  background: #D6249F;
  background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%,#D6249F 60%,#285AEB 90%);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.curly {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: left;
  color: white;
}

.fa {
  padding: 7px 7px 7px 7px;
  width: 30px;
  font-size: 30px;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  flex-wrap: nowrap;
}

.form {
  text-align: center;
  max-width: 100vw;
}

.productcontainer {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-labels {
  text-align: center;
}

.ethos {
  background-color: white;
  text-align: center;
  padding: 10px 10px;
  padding-bottom: 10px;
  width: 100%;
}

#skinproductimage {
  width: 75%;
  height: 75%;
}

#hairproductimage {
  width: 75%;
  height: 75%;
}

#bagproductimage {
  width: 75%;
  height: 75%;
}

#submit {
  cursor: pointer;
}

#curlyaccount {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color: white;
}

#curlyethos {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color: #66CCFF;
}

#accountpara {
  text-align: center;
}

#link {
  color: #48339c;
  text-decoration: underline;
}
#ethostext {
  color: #66CCFF;
  font-size: 1.5em;
}
